
<%- include("header"); %>
<h2>This is not about Siji</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit repudiandae odit est harum, laborum nostrum saepe, ratione veniam magni numquam velit. Cum ipsam quas accusantium quisquam vero excepturi fugiat harum.</p>

<%- include("footer"); %>